body {
  color: #9933cc;
  font-family: Gotham;
  padding-top: 100px;
  text-align: center;
}

.Map__Wrapper {
  position: relative;

  .BornHS__Modal__Content {
    background: #2a2a2a;
    border-radius: 5px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
    color: #fff;
    opacity: 0.5;
    position: absolute;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 80%;
    z-index: 4;
    bottom: auto !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    max-height: 80%;
    overflow: auto;

    .Modal__Close {
      cursor: pointer;
      display: block;
      height: 50px;
      right: -5px;
      position: absolute;
      transition: all 300ms ease;
      transform: rotate(45deg);
      width: 50px;
      z-index: 5;

      &:before,
      &:after {
        background: #fff;
        content: "";
        cursor: pointer;
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:before {
        height: 2px;
        width: 40%;
      }
      &:after {
        height: 40%;
        width: 2px;
      }
    }

    .Content__Wrapper {
      display: flex;
      padding: 40px;
      position: relative;

      .Content__Column {
        flex: 50%;
      }

      .Location__Image {
      }

      .Location__Name {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .Location__Address {
        padding-top: 5px;
        font-size: 12px;
        text-transform: uppercase;
      }

      .Location_Description {
        padding-top: 10px;
        font-size: 14px;
      }

      p {
        font-size: 13px;
        margin: 0;
        padding: 0;
      }
    }
  }

  .BornHS__Input {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
    z-index: -1;
    + .BornHS__Label {
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      position: absolute;
      transition: all 300ms ease;
      width: 20px;
      z-index: 2;
      @media (min-width: 768px) {
        height: 30px;
        width: 30px;
      }
      &:before,
      &:after {
        background: #fff;
        content: "";
        cursor: pointer;
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:before {
        height: 2px;
        width: 40%;
      }
      &:after {
        height: 40%;
        width: 2px;
      }
    }
    ~ .BornHS__Overlay {
      display: none;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 3;
    }
    &:checked {
      + .BornHS__Label {
        transform: rotate(45deg);
      }
      ~ .BornHS__Modal__Content {
        opacity: 0.95;
        visibility: visible;
      }
      ~ .BornHS__Overlay {
        display: block;
      }
    }
  }
}

.Location__Modal {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.Blur__Background {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.Enabled_HS {
  background: #9933cc;
}

.Disabled_HS {
  display: none;
}
